---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="404 | Page not found"
    description="The page you are looking for might have been removed, had its name changed, or is temporarily unavailable."
>
    <main class="page-content">
        <h1>404</h1>
    </main>
</Layout>
